.env
/docker/mysql/data

/backend/.git
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/vendor
/backend/storage/api-docs/api-docs.json
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/docker-compose.override.yml
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/composer.lock
/backend/.DS_Store
/backend/.DS_Store?
/backend/._*
/backend/.Spotlight-V100
/backend/.Trashes
/backend/ehthumbs.db
/backend/Thumbs.db
/.idea
/.vscode
/backend/.phpstorm.meta.php